

<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="ion-padding">Localização</ion-card-title>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d837.9390702050986!2d-44.30236770306372!3d-2.5289621368002626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f66c06359ed1621!2sTeatro+Arthur+Azevedo!5e0!3m2!1spt-BR!2sbr!4v1561242733948!5m2!1spt-BR!2sbr"
      width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    <ion-card-header>

      <ion-card-subtitle>Governo do Maranhão </ion-card-subtitle>
      <ion-card-title> Arthur Azevedo</ion-card-title>
      <ion-text>Rua do Sol, Centro - São Luis - MA</ion-text>
    </ion-card-header>
  </ion-card>
  <ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>
</ion-content>

