<ion-header  >
  <ion-toolbar color="light" >
    <ion-buttons slot="start" >
      <ion-menu-button color="danger" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card color="light">
  <ion-card-header>
    <ion-card-title>VISITAS GUIADAS</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    De Terça-feira a Domingo <br>
    Horários:<br>
    14h, 14h30, 15h, 15h30, 16h, 16h30, 17h<br>
  <br>
    Individual: R$ 5,00 <br>
    Escolas Particulares/ Estudante: R$ 2,50 <br>
    Escolas Públicas e Entidades: Entrada Livre <br>
  </ion-card-content>
</ion-card>
<ion-card color="light">
  <ion-card-header>
    <ion-card-title>VENDAS DE INGRESSOS</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Ingressos para espetáculos estão à venda na bilheteria LOCAL do TEATRO ARTHUR AZEVEDO de terça a domingo, a partir das 14h. <br>
    Mas está SEMPRE a venda no APLICATIVO oficial do teatro ou em nosso site.
  </ion-card-content>
</ion-card>
<ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>
</ion-content>
