<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-title class="ion-padding">PGE</ion-card-title>
    <iframe
      src="https://maps.google.com/maps?q=procuradoria%20geral%20do%20estado&t=&z=17&ie=UTF8&iwloc=&output=embed"
      width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-text>Procuradoria Geral do Estado do Maranhão</ion-text>
      <ion-card-subtitle>Av. Presidente Juscelino Kubitschek Lt. 25, Qd. 22 - Quintas do Calhau, MA, 65072-280</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <!--<ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>-->
</ion-content>