// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
.logotaa{
  height: 40%;
  width: 40%;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}
