<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>ADMINISTRAÇÃO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Diretor do Teatro</h3>
      <h4>Celso Brandão</h4>
      <br>
      <h3>Departamento Administrativo</h3>
      <h4>Angela Pereira</h4>
      <br>
      <h3>Departamento Financeiro</h3>
      <h4>Anderson Araújo</h4>
      <br>
      <h3>Centro de Documentação e Informação – CDI</h3>
      <h4>Magnólia Everton</h4>
      <br>
      <h3>Direção Artística</h3>
      <h4>Ivaldo Júnior</h4>
      <br>
      <h3>Coordenadora de Pauta</h3>
      <h4>Adriana Correia</h4>
      <br>
      <h3>Coordenador Técnico</h3>
      <h4>Abel Lopes</h4>
      <br>
      <h3>Coordenação de Camarins</h3>
      <h4>Herone Alberto Ferreira</h4>
    </ion-card-content>
  </ion-card>
  <ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>
</ion-content>
