<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirrider()">Pauta</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirnae()">NAE</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirespaco()">Espaços</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirfotos()">Fotos</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirhistoria()">História</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirmplateia()">Mapa da Platéia</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirprojetos()">Projetos</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrireditais()">Editais</ion-button>
  </div>
  <div>
    <ion-button color="light" class="ion-padding" expand="full" (click)="abrirrider()">Rider Tecnico</ion-button>
  </div>
  <ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>
</ion-content>