
.banner{
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  height: 60px;
}

.grida{
 margin-top: 30px;
}
ion-button{
 height: 40px;
}
ion-thumbnail{
  height: 40px;
  width: 40px;
}
.titlehome{
 font-size: 11px;
 color: aliceblue;
}
.logotaa{
    height: 100px;
    width: 100px;
    margin-left: 38%;
    margin-top: 30px;

}