<ion-header>
  <ion-toolbar color="#8c0000">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-img src="assets\imagens\headertaa.png"  class="logotaa"></ion-img>
  <ion-grid class="grida">
    <ion-row>
      <ion-col text-center>
        <div >
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="openpage()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\iconetaa.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Teatro</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button fill="null" class="mainbtn" color="#8c0000" (click)="bilheteria()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\bilheteria.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Bilheteria</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" >
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\ncalendario.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Agenda</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="gridb">
    <ion-row>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="noticias()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\newnoticias..png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Noticias</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button  class="mainbtn" fill="null" color="#8c0000" (click)="abrirmapa()" >
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\nlocation.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Localização</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="youtube()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\youtube.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Youtube</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="gridb">
    <ion-row>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="instagram()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\instagram.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Instagram</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="twitter()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\twitter.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Twitter</ion-text>
      </ion-col>
      <ion-col text-center>
        <div>
          <ion-button class="mainbtn" fill="null" color="#8c0000" (click)="facebook()">
            <ion-thumbnail slot="start">
              <ion-img src="assets\imagens\facebook.png"></ion-img>
            </ion-thumbnail>
          </ion-button>
        </div>
        <ion-text class="titlehome"> Facebook</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-img src="assets\imagens\banner2.png" class="banner"></ion-img>
</ion-content>
